NET "clk50" TNM_NET = "clk_period_grp_50";
TIMESPEC TS_clk_period_50 = PERIOD "clk_period_grp_50" 20 ns HIGH 50 %;

NET "clke" TNM_NET = "clk_period_grp_clke";
TIMESPEC TS_clk_period_clke = PERIOD "clke" 1000 ns LOW 50%;

NET "clk50" LOC = P50;
NET "clk50" IOSTANDARD = LVTTL;
NET "clke" LOC = P123;
NET "clke" IOSTANDARD = LVTTL;
NET "rst_n" LOC = P142;
NET "rst_n" IOSTANDARD = LVTTL;
NET "pgfc_n" LOC = P1;
NET "pgfc_n" IOSTANDARD = LVTTL;
NET "pgfd_n" LOC = P140;
NET "pgfd_n" IOSTANDARD = LVTTL;
NET "rnw" LOC = P5;
NET "rnw" IOSTANDARD = LVTTL;
NET "irq" LOC = P126;
NET "irq" IOSTANDARD = LVTTL;
NET "nmi" LOC = P127;
NET "nmi" IOSTANDARD = LVTTL;
NET "bus_addr[0]" LOC = P22;
NET "bus_addr[0]" IOSTANDARD = LVTTL;
NET "bus_addr[1]" LOC = P24;
NET "bus_addr[1]" IOSTANDARD = LVTTL;
NET "bus_addr[2]" LOC = P27;
NET "bus_addr[2]" IOSTANDARD = LVTTL;
NET "bus_addr[3]" LOC = P30;
NET "bus_addr[3]" IOSTANDARD = LVTTL;
NET "bus_addr[4]" LOC = P33;
NET "bus_addr[4]" IOSTANDARD = LVTTL;
NET "bus_addr[5]" LOC = P35;
NET "bus_addr[5]" IOSTANDARD = LVTTL;
NET "bus_addr[6]" LOC = P41;
NET "bus_addr[6]" IOSTANDARD = LVTTL;
NET "bus_addr[7]" LOC = P44;
NET "bus_addr[7]" IOSTANDARD = LVTTL;
NET "bus_data[0]" LOC = P143;
NET "bus_data[0]" IOSTANDARD = LVTTL;
NET "bus_data[1]" LOC = P2;
NET "bus_data[1]" IOSTANDARD = LVTTL;
NET "bus_data[2]" LOC = P6;
NET "bus_data[2]" IOSTANDARD = LVTTL;
NET "bus_data[3]" LOC = P8;
NET "bus_data[3]" IOSTANDARD = LVTTL;
NET "bus_data[4]" LOC = P10;
NET "bus_data[4]" IOSTANDARD = LVTTL;
NET "bus_data[5]" LOC = P12;
NET "bus_data[5]" IOSTANDARD = LVTTL;
NET "bus_data[6]" LOC = P15;
NET "bus_data[6]" IOSTANDARD = LVTTL;
NET "bus_data[7]" LOC = P17;
NET "bus_data[7]" IOSTANDARD = LVTTL;
NET "bus_data_dir" LOC = P139;
NET "bus_data_dir" IOSTANDARD = LVTTL;
NET "bus_data_oel" LOC = P141;
NET "bus_data_oel" IOSTANDARD = LVTTL;

NET "ram_addr[0]" LOC = P66;
NET "ram_addr[0]" IOSTANDARD = LVTTL;
NET "ram_addr[1]" LOC = P74;
NET "ram_addr[1]" IOSTANDARD = LVTTL;
NET "ram_addr[2]" LOC = P78;
NET "ram_addr[2]" IOSTANDARD = LVTTL;
NET "ram_addr[3]" LOC = P80;
NET "ram_addr[3]" IOSTANDARD = LVTTL;
NET "ram_addr[4]" LOC = P82;
NET "ram_addr[4]" IOSTANDARD = LVTTL;
NET "ram_addr[5]" LOC = P101;
NET "ram_addr[5]" IOSTANDARD = LVTTL;
NET "ram_addr[6]" LOC = P104;
NET "ram_addr[6]" IOSTANDARD = LVTTL;
NET "ram_addr[7]" LOC = P111;
NET "ram_addr[7]" IOSTANDARD = LVTTL;
NET "ram_addr[8]" LOC = P114;
NET "ram_addr[8]" IOSTANDARD = LVTTL;
NET "ram_addr[9]" LOC = P116;
NET "ram_addr[9]" IOSTANDARD = LVTTL;
NET "ram_addr[10]" LOC = P7;
NET "ram_addr[10]" IOSTANDARD = LVTTL;
NET "ram_addr[11]" LOC = P9;
NET "ram_addr[11]" IOSTANDARD = LVTTL;
NET "ram_addr[12]" LOC = P11;
NET "ram_addr[12]" IOSTANDARD = LVTTL;
NET "ram_addr[13]" LOC = P14;
NET "ram_addr[13]" IOSTANDARD = LVTTL;
NET "ram_addr[14]" LOC = P16;
NET "ram_addr[14]" IOSTANDARD = LVTTL;
NET "ram_addr[15]" LOC = P34;
NET "ram_addr[15]" IOSTANDARD = LVTTL;
NET "ram_addr[16]" LOC = P40;
NET "ram_addr[16]" IOSTANDARD = LVTTL;
NET "ram_addr[17]" LOC = P43;
NET "ram_addr[17]" IOSTANDARD = LVTTL;
NET "ram_addr[18]" LOC = P45;
NET "ram_addr[18]" IOSTANDARD = LVTTL;
NET "ram_data[0]" LOC = P87;
NET "ram_data[0]" IOSTANDARD = LVTTL;
NET "ram_data[1]" LOC = P92;
NET "ram_data[1]" IOSTANDARD = LVTTL;
NET "ram_data[2]" LOC = P94;
NET "ram_data[2]" IOSTANDARD = LVTTL;
NET "ram_data[3]" LOC = P97;
NET "ram_data[3]" IOSTANDARD = LVTTL;
NET "ram_data[4]" LOC = P21;
NET "ram_data[4]" IOSTANDARD = LVTTL;
NET "ram_data[5]" LOC = P23;
NET "ram_data[5]" IOSTANDARD = LVTTL;
NET "ram_data[6]" LOC = P26;
NET "ram_data[6]" IOSTANDARD = LVTTL;
NET "ram_data[7]" LOC = P29;
NET "ram_data[7]" IOSTANDARD = LVTTL;
NET "ram_cel" LOC = P84;
NET "ram_cel" IOSTANDARD = LVTTL;
NET "ram_oel" LOC = P32;
NET "ram_oel" IOSTANDARD = LVTTL;
NET "ram_wel" LOC = P99;
NET "ram_wel" IOSTANDARD = LVTTL;

NET "pmod0[0]" LOC = P75;
NET "pmod0[0]" IOSTANDARD = LVTTL;
NET "pmod0[1]" LOC = P81;
NET "pmod0[1]" IOSTANDARD = LVTTL;
NET "pmod0[2]" LOC = P85;
NET "pmod0[2]" IOSTANDARD = LVTTL;
NET "pmod0[3]" LOC = P93;
NET "pmod0[3]" IOSTANDARD = LVTTL;

NET "pmod0[4]" LOC = P79;
NET "pmod0[4]" IOSTANDARD = LVTTL;
NET "pmod0[5]" LOC = P83;
NET "pmod0[5]" IOSTANDARD = LVTTL;
NET "pmod0[6]" LOC = P88;
NET "pmod0[6]" IOSTANDARD = LVTTL;
NET "pmod0[7]" LOC = P95;
NET "pmod0[7]" IOSTANDARD = LVTTL;

NET "pmod1[0]" LOC = P98;
NET "pmod1[0]" IOSTANDARD = LVTTL;
NET "pmod1[1]" LOC = P102;
NET "pmod1[1]" IOSTANDARD = LVTTL;
NET "pmod1[2]" LOC = P112;
NET "pmod1[2]" IOSTANDARD = LVTTL;
NET "pmod1[3]" LOC = P121;
NET "pmod1[3]" IOSTANDARD = LVTTL;

NET "pmod1[4]" LOC = P100;
NET "pmod1[4]" IOSTANDARD = LVTTL;
NET "pmod1[5]" LOC = P105;
NET "pmod1[5]" IOSTANDARD = LVTTL;
NET "pmod1[6]" LOC = P115;
NET "pmod1[6]" IOSTANDARD = LVTTL;
NET "pmod1[7]" LOC = P124;
NET "pmod1[7]" IOSTANDARD = LVTTL;

# NET "pmod2[0]" LOC = P59;
# NET "pmod2[0]" IOSTANDARD = LVTTL;
# NET "pmod2[1]" LOC = P57;
# NET "pmod2[1]" IOSTANDARD = LVTTL;
# NET "pmod2[2]" LOC = P48;
# NET "pmod2[2]" IOSTANDARD = LVTTL;
# NET "pmod2[3]" LOC = P46;
# NET "pmod2[3]" IOSTANDARD = LVTTL;

# shared with SPI DAC
#NET "pmod2[4]" LOC = P61;
#NET "pmod2[4]" IOSTANDARD = LVTTL;
# shared with SPI DAC
#NET "pmod2[5]" LOC = P58;
#NET "pmod2[5]" IOSTANDARD = LVTTL;
# shared with SPI DAC
#NET "pmod2[6]" LOC = P56;
#NET "pmod2[6]" IOSTANDARD = LVTTL;
# shared with SPI DAC
#NET "pmod2[7]" LOC = P47;
#NET "pmod2[7]" IOSTANDARD = LVTTL;

NET "dac_cs_n"      LOC = "P61"  | IOSTANDARD = LVCMOS33 ; # shared with pmod2
NET "dac_sck"       LOC = "P58"  | IOSTANDARD = LVCMOS33 ; # shared with pmod2
NET "dac_sdi"       LOC = "P56"  | IOSTANDARD = LVCMOS33 ; # shared with pmod2
NET "dac_ldac_n"    LOC = "P47"  | IOSTANDARD = LVCMOS33 ; # shared with pmod2


NET "led" LOC = P67;
NET "led" IOSTANDARD = LVTTL;

NET "sw1" LOC = P62;
NET "sw1" IOSTANDARD = LVTTL;
NET "sw2" LOC = P144;
NET "sw2" IOSTANDARD = LVTTL;

# PlanAhead Generated IO constraints 
NET "bus_data[7]" DRIVE = 8;
NET "bus_data[6]" DRIVE = 8;
NET "bus_data[5]" DRIVE = 8;
NET "bus_data[4]" DRIVE = 8;
NET "bus_data[3]" DRIVE = 8;
NET "bus_data[2]" DRIVE = 8;
NET "bus_data[1]" DRIVE = 8;
NET "bus_data[0]" DRIVE = 8;
NET "pmod0[7]" DRIVE = 8;
NET "pmod0[6]" DRIVE = 8;
NET "pmod0[5]" DRIVE = 8;
NET "pmod0[4]" DRIVE = 8;
NET "pmod0[3]" DRIVE = 8;
NET "pmod0[2]" DRIVE = 8;
NET "pmod0[1]" DRIVE = 8;
NET "pmod0[0]" DRIVE = 8;
NET "pmod1[7]" DRIVE = 8;
NET "pmod1[6]" DRIVE = 8;
NET "pmod1[5]" DRIVE = 8;
NET "pmod1[4]" DRIVE = 8;
NET "pmod1[3]" DRIVE = 8;
NET "pmod1[2]" DRIVE = 8;
NET "pmod1[1]" DRIVE = 8;
NET "pmod1[0]" DRIVE = 8;
# NET "pmod2[7]" DRIVE = 8;
# NET "pmod2[6]" DRIVE = 8;
# NET "pmod2[5]" DRIVE = 8;
# NET "pmod2[4]" DRIVE = 8;
# NET "pmod2[3]" DRIVE = 8;
# NET "pmod2[2]" DRIVE = 8;
# NET "pmod2[1]" DRIVE = 8;
# NET "pmod2[0]" DRIVE = 8;
NET "ram_addr[18]" DRIVE = 8;
NET "ram_addr[17]" DRIVE = 8;
NET "ram_addr[16]" DRIVE = 8;
NET "ram_addr[15]" DRIVE = 8;
NET "ram_addr[14]" DRIVE = 8;
NET "ram_addr[13]" DRIVE = 8;
NET "ram_addr[12]" DRIVE = 8;
NET "ram_addr[11]" DRIVE = 8;
NET "ram_addr[10]" DRIVE = 8;
NET "ram_addr[9]" DRIVE = 8;
NET "ram_addr[8]" DRIVE = 8;
NET "ram_addr[7]" DRIVE = 8;
NET "ram_addr[6]" DRIVE = 8;
NET "ram_addr[5]" DRIVE = 8;
NET "ram_addr[4]" DRIVE = 8;
NET "ram_addr[3]" DRIVE = 8;
NET "ram_addr[2]" DRIVE = 8;
NET "ram_addr[1]" DRIVE = 8;
NET "ram_addr[0]" DRIVE = 8;
NET "ram_data[7]" DRIVE = 8;
NET "ram_data[6]" DRIVE = 8;
NET "ram_data[5]" DRIVE = 8;
NET "ram_data[4]" DRIVE = 8;
NET "ram_data[3]" DRIVE = 8;
NET "ram_data[2]" DRIVE = 8;
NET "ram_data[1]" DRIVE = 8;
NET "ram_data[0]" DRIVE = 8;
NET "dac_cs_n" IOSTANDARD = LVTTL;
NET "dac_ldac_n" IOSTANDARD = LVTTL;
NET "dac_sck" IOSTANDARD = LVTTL;
NET "dac_sdi" IOSTANDARD = LVTTL;
NET "bus_data_dir" DRIVE = 8;
NET "bus_data_oel" DRIVE = 8;
NET "dac_cs_n" DRIVE = 8;
NET "dac_ldac_n" DRIVE = 8;
NET "dac_sck" DRIVE = 8;
NET "dac_sdi" DRIVE = 8;
NET "irq" DRIVE = 8;
NET "led" DRIVE = 8;
NET "nmi" DRIVE = 8;
NET "ram_cel" DRIVE = 8;
NET "ram_oel" DRIVE = 8;
NET "ram_wel" DRIVE = 8;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2019/05/24
NET "clke" TNM_NET = clke;
